@model WebAppCRUD.Models.ViewModels.ErrorViewModel
@{
    ViewBag.Title = "Error";
}
<h2>Error</h2>
<div>
    <p>Message:</p> <br />
    @Model.Message
    
    <p>L'heure de l'execption:</p> <br />
    @Model.Time

    <p>La severité:</p> <br />
    @Model.Severity

</div>


